// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------

.footer {
    background-color: $color-dark;
    padding: 20px 25px 35px;
    display: flex;
    flex-direction: column;
    color: white;
    @include tablet {
        padding: 35px 60px 50px;
    }
    @include desktop {
        padding: 25px 45px 40px;
    }
    &__heading {
        font-size: 1.15rem;
        font-weight: 400;
        margin: 0 0 15px;
        font-family: 'Shrikhand', cursive;
        @include tablet {
            font-size: 2.2rem;
            margin: 0 0 30px;
        }
        @include desktop {
            font-size: 1.4rem;
            margin: 0 0 15px;
        }
    }
    &__icon {
        font-size: 0.8rem;
        margin: 0 5px 0 0;
        @include tablet {
            font-size: 1.5rem;
            margin: 0 10px;
        }
        @include desktop {
            font-size: 1.1rem;
            margin: 0 5px;
        }
    }
    &__link {
        font-size: 0.95rem;
        color: white;
        margin: 0 0 10px;
        @include tablet {
            font-size: 1.8rem;
            margin: 0 0 10px;
        }
        @include desktop {
            font-size: 1.2rem;
        }
    }
    &__div {
        margin: 0 0 10px;
    }
}