// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 2;
    &__logo {
        margin: 25px 0 10px;
        height: 30px;
        @include tablet {
            margin: 40px 0 30px;
            height: 50px;
        }
    } 
}