// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------

.footer {
    background-color: $dark-color;
    padding: 2vh 6vw;
    display: flex;
    &__heading {
        font-size: 1.9rem;
        margin: 0 0 10px;
        color: white;
    }
    &__link {
        color: white;
        font-size: 2rem;
    }
}