// -----------------------------------------------------------------------------
// This file contains all styles related to the buttons components.
// -----------------------------------------------------------------------------

.btn {
    border-radius: 30px;
    border: none;
    padding: 15px 25px;
    color: white;
    font-size: 1.05rem;
    font-weight: 500;
    background: linear-gradient(175deg, $color-secondary 12%, $color-primary 100%);
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    @include tablet {
        font-size: 2.2rem;
        border-radius: 60px;
        padding: 30px 50px;
    }
    @include desktop {
        font-size: 1.3rem;
        border-radius: 40px;
        padding: 20px 35px;
    }
    &--menu {
        padding: 15px 45px;
        @include tablet {
            padding: 30px 90px;
            font-size: 2rem;
        }
        @include desktop {
            font-size: 1.5rem;
            padding: 20px 30px; 
        }
    }
    &:hover {
        background: linear-gradient(175deg, scale-color($color-secondary, $lightness: 10%) 12%, scale-color($color-primary, $lightness: 10%) 100%);
        box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.15);
    }
}