// -----------------------------------------------------------------------------
// This file contains all styles related to the restaurant menus.
// -----------------------------------------------------------------------------

/*Background image*/

#background-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    @include tablet {
        height: 550px;
    }
}

/*Menu section*/

.menu {
    background-color: $color-grey-light;
    border-radius: 40px 40px 0 0;
    padding: 35px 15px 60px;
    margin: 0 0 -50px 0;
    position: relative;
    bottom: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    @include tablet {
        border-radius: 75px 75px 0 0;
        bottom: 110px;
        padding: 70px 50px 120px;
        margin: 0 0 -110px 0;
        gap: 80px;
    }
    &__header {
        margin: 0;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include desktop {
            width: 80%;
        }
    }
    &__heading {
        font-size: 1.7rem;
        font-weight: 400;
        font-family: 'Shrikhand', cursive;
        margin: 0;
        @include tablet {
            font-size: 3rem;
        }
        @include desktop {
            font-size: 2.4rem; 
        }
    }
    &__icon {
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        z-index: 2;
        left: 85%;
        @include tablet {
            font-size: 3rem;
            margin: 0 40px 0 0;
        }
        &:hover ~ .menu__icon--hide {
                transform: translateY(-25px);
                transition-duration: 300ms;
                @include tablet {
                    transform: translateY(-50px);
                }
            }
        &--hide {
            height: 25px;
            width: 25px;
            background-color: $color-grey-light;
            z-index: 1;
            @include tablet {
                height: 50px;
                width: 50px;
            }
        }
        &--bg {
            color: $color-primary;
            z-index: 0;
        }
    }
    &__container {
        display:flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        @include desktop {
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
        }
    }
}

/*Course section*/

.course {
    width: 100%;
    @include desktop {
        width: 25%;
    }
    &__heading {
        font-size: 1.1rem;
        font-weight: 400;
        margin: 0;
        @include tablet {
            font-size: 2.2rem;
        }
        @include desktop {
            font-size: 1.5rem;
        }
        &:after {
            content: "";
            height: 8px;
            width: 40px;
            display: block;
            border-bottom: 3px solid $color-tertiary;
            @include tablet {
                height: 15px;
                width: 80px;
                border-bottom: 5px solid $color-tertiary;
            }
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
        margin: 20px 0 0 0;
        @include tablet {
            gap: 30px;
            margin: 30px 0 0 0;
        }
    }
    &__btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-radius: 18px;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
        background-color: white;
        animation-name: AppearIn, MoveUp;
        animation-duration: 500ms, 900ms;
        animation-timing-function: linear, ease-out;
        display: flex;
        overflow: hidden;
        cursor: pointer;
        padding: 0 25px 10px 12px;
        &:hover > .course__select{
            width: 15%;
            margin-left: 10px;
            transition-duration: 800ms;
        }
        &:hover .course__checkmark {
            transform: rotate(360deg);
            transition-duration: 800ms;
        }
        @include tablet {
            border-radius: 35px;
            padding: 0 50px 10px 25px;
        }
        @include desktop {
            border-radius: 20px;
            paddding: 0 25px 13px 12px;
        }
    }
    &__wrapper {
        width: 100%;
        min-width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
      }
    &__infos {
        width: 85%;
    }
    &__dish {
        font-size: 1.1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @include tablet {
            font-size: 2.1rem;
        }
        @include desktop {
            font-size: 1.3rem
        }
    }
    &__text{
        font-size: 1rem;
        font-weight: 400;
        margin: 5px 0 0 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @include tablet {
            font-size: 2rem;
            margin: 15px 0 0 0;
        }
        @include desktop {
            font-size: 1.1rem;
            margin: 5px 0 0 0;
        }
    }
    &__price {
        font-size: 0.9rem;
        font-weight: 500;
        margin: 0 0 1px;
        @include tablet {
            font-size: 2rem;
        }
        @include desktop {
            font-size: 1rem;
        }
    }
    &__select {
        background-color: #99E2D0;
        height: 57px;
        width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px -25px -10px 0;
        @include tablet {
            height: 110px;
            margin: 0px -50px -10px 0;
        }
        @include desktop {
            height: 76px;
            margin: 0px -25px -13px 0;
        }
    }
    &__checkmark {
        font-size: 1.5rem;
        color: white;
        position: relative;
    }
}


/*Animations for the buttons appearing*/

@keyframes AppearIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes MoveUp {
    0% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

@for $i from 1 through 4 {
    .course__btn:nth-child(#{$i}) {
      animation-delay: $i * 50ms;
    }
  }
