// -----------------------------------------------------------------------------
//  This file contains every basic styles.
// -----------------------------------------------------------------------------

/*Setting up the root element*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/*Base style for links*/

a {
    text-decoration: none;
    color: black;
}
