// -----------------------------------------------------------------------------
// This file contains all styles related to the home page of the site.
// -----------------------------------------------------------------------------

/*Location section*/

.location {
    &__div {
        display: flex; 
        justify-content: center;
        align-items: center;
        background-color: $color-grey;
        padding: 15px 0;
        @include tablet {
            padding: 35px 0;
        }
        @include desktop {
            padding: 25px 0;
        }
        &--col {
            flex-direction: column;
            background-color: $color-grey-light;
            padding: 40px 0 55px;
            text-align: center;
            @include tablet {
                padding: 90px 0 125px;
            }
            @include desktop {
                padding: 50px 0 60px;
            }
        }
    }
    &__icon {
        font-size: 1.2rem;
        margin: 0 -5px;
        position: relative;
        right: 20px;
        @include tablet {
            font-size: 1.75rem;
            right: 45px;
            margin: 0 -10px;
        }
        @include desktop {
            font-size: 1.4rem; 
            right: 30px;
        }
    }
    &__heading {
        font-size: 1.4rem;
        width: 61%;
        @include tablet {
            font-size: 3rem;
        }
        @include desktop {
            font-size: 1.6rem;
        }
    }
    &__text {
        font-size: 1.15rem;
        margin: 15px 0 30px;
        @include tablet{
            font-size: 2.2rem;
            margin: 25px 0 70px;
        }
        @include desktop {
            font-size: 1.3rem;
            margin: 20px 0 40px;
        }
        &--current {
            font-size: 1.05rem;
            font-weight: 500;
            @include tablet{
                font-size: 2.1rem;
            }
            @include desktop {
                font-size: 1.4rem;
            }
        }
    }
}


/*Guide section*/

.guide {
    padding: 0 25px 70px;
    @include tablet {
        padding: 0 50px 70px;
    }
    @include desktop {
        padding: 0 100px 70px;
    }
    &__heading {
        font-size: 1.6rem;
        margin: 45px 0 30px;
        @include tablet {
            font-size: 3.1rem;
            margin: 90px 0 60px;
        }
        @include desktop {
            font-size: 2.2rem;
        }
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        @include tablet {
            gap: 60px;
        }
    }
    &__outer {
        background-color: $color-grey-light;
        box-shadow: 2px 3px 4px 4px rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        width: 100%;
        padding: 20px 0;
        @include tablet {
            padding: 55px 0;
            border-radius: 45px;
        }
        @include desktop {
            padding: 40px 0;
            border-radius: 30px;
            width: 60%;
        }
    }
    &__number {
        background-color: $color-primary;
        color: white;
        font-size: 0.8rem;
        border-radius: 50%;
        position: relative;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet {
            font-size: 1.6rem;
            width: 50px;
            height: 50px;
        }
        &--first{
            right: 21%;
            @include tablet {
                right: 22%;
            }
        }
        &--second {
            right: 22%;
            @include tablet {
                right: 23%;
            }
        }
        &--third{
            right: 21%;
            @include tablet {
                right: 22%;
            }
            @include desktop {
                right: 22.4%;
            }
        }
    }
    &__icon {
        font-size: 1.2rem;
        position: relative;
        color: rgb(66, 66, 66);
        @include tablet {
            font-size: 2.4rem;
        }
        &--first {
            right: 12%;
            @include tablet {
                right: 11%;
            }
        }
        &--second {
            right: 14%;
            @include desktop {
                right: 12.5%;
            }
        }
        &--third {
            right: 13%;
            @include desktop {
                right: 12%;
            }
        }
    }
    &__text{
        font-weight: 500;
        position: relative; 
        @include tablet {
            font-size: 2.1rem;
        }
        @include desktop {
            font-size: 1.9rem;
        }
        &--first {
            right: 3%;
            @include tablet {
                right: 2%;
            }
        }
        &--second {
            right: 5%;
            @include desktop {
                right: 4%;
            }
        }
        &--third {
            right: 5%;
            @include tablet {
                right: 4%;
            }
        }
    }
}


/*Restaurants section*/

.restaurant {
    padding: 25px 25px 40px;
    background-color: $color-grey-light;
    @include tablet {
        padding: 75px 50px 110px;
    }
    @include desktop {
        padding: 50px 100px 70px;
    }
    &__heading {
        font-size: 1.60rem;
        margin: 30px 0 20px;
        @include tablet {
            font-size: 3.1rem;
            margin: 30px 0 60px;
        }
        @include tablet {
            font-size: 2.2rem;
        }
    }
    &__container {
        width: 100%;
        padding: 0 0 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        @include tablet {
            gap: 30px;
        }
        @include desktop {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0;
            justify-content: space-evenly;
        }
    }
    &__wrapper {
        width:100%;
        color: black;
        @include desktop {
            width: 35%;
            margin: 0 0 70px;
        }
    }
    &__outer {
        background-color: white;
        border-radius: 20px;
        width: 100%;
        height: 260px;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.10);
        }
        @include tablet {
            height: 520px;
            border-radius: 35px;
        }
        @include desktop {
            height: 380px;
            border-radius: 25px;
        }
    }
    &__img {
        object-fit: cover;
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
        @include tablet {
            border-radius: 35px 35px 0 0;
            object-position: 50% 60%;
        }
        @include desktop {
            border-radius: 25px 25px 0 0;
            object-position: 50% 62%;
        }
    }
    &__inner {
        height: 28%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px 0 15px;
        @include tablet {
            padding: 0 40px 0 30px;
        }
    }
    &__card-heading {
        font-size: 1.2rem;
        margin: 0 0 5px;
        @include tablet {
            font-size: 2.4rem;
            margin: 0 0 10px;
        }
        @include desktop {
            font-size: 1.6rem;
        }
    }
    &__card-text {
        font-size: 1.1rem;
        @include tablet {
            font-size: 2.2rem;
        }
        @include desktop {
            font-size: 1.4rem;
        }
    }
    &__card-icon {
        font-size: 1.4rem;
        @include tablet {
            font-size: 2.8rem;
        }
        @include desktop {
            font-size: 1.8rem;
        }
    }
}