// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/*Brand colors*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

/*Other colors*/

$color-dark: #383838;
$color-grey-light: #f5f5f5;
$color-grey: #ebebeb;


/*Responsive breakpoints*/

$breakpoints: (
    'tablet': 768px,
    'desktop': 998px,
)